.o-gallery__control--prev {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf103;&nbsp;'); }

.o-gallery__control--prev:before {
  content: "\f103"; }

.o-gallery__control--next {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf104;&nbsp;'); }

.o-gallery__control--next:before {
  content: "\f104"; }

@font-face {
  font-family: "ft-icons";
  src: url(/bower_components/o-ft-icons/build/ft-icons-f414da96fb9364a6326bee01eb65edef.eot);
  src: url(/bower_components/o-ft-icons/build/ft-icons-f414da96fb9364a6326bee01eb65edef.eot?#iefix) format("embedded-opentype"), url(/bower_components/o-ft-icons/build/ft-icons-f414da96fb9364a6326bee01eb65edef.woff) format("woff"), url(/bower_components/o-ft-icons/build/ft-icons-f414da96fb9364a6326bee01eb65edef.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
.o-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative; }
  .o-gallery ol,
  .o-gallery ul,
  .o-gallery li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .o-gallery img {
    display: block;
    width: 100%; }
  .o-gallery[data-o-gallery-multipleitemsperpage=true] .o-gallery {
    margin: 0 50px; }

.o-gallery--slideshow {
  width: 100%;
  overflow: hidden; }
  .o-gallery--slideshow .o-gallery__title {
    margin: 0;
    padding: 10px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    background: #333333;
    background-color: rgba(51, 51, 51, 0.8); }
  .o-gallery--slideshow .o-gallery__item__caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 5px 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    background-color: #333333; }

.o-gallery--thumbnails {
  display: none;
  color: blue;
  width: 100%;
  height: 74px;
  overflow: hidden;
  background-color: #a7a59b; }
  .o-gallery--slideshow + .o-gallery--thumbnails {
    margin-top: -4px; }
  .o-gallery--thumbnails[data-o-gallery--js] {
    display: block; }
  .o-gallery--thumbnails .o-gallery__item__content {
    margin: 5px 10px;
    width: 114px;
    height: 64px; }
  .o-gallery--thumbnails [aria-selected='true'] .o-gallery__item__content {
    position: relative;
    outline: 1px solid #ffffff; }
  .o-gallery--thumbnails [aria-selected='true'] img {
    -webkit-filter: brightness(50%); }

.o-gallery__title {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5; }

.o-gallery__viewport {
  position: relative;
  overflow: hidden;
  z-index: 1; }

.o-gallery__items {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  [data-o-gallery--js] .o-gallery__items {
    white-space: nowrap;
    font-size: 0; }

.o-gallery__item {
  position: relative;
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none; }
  [data-o-gallery--js] .o-gallery__item {
    margin: 0;
    display: inline-block;
    white-space: normal; }

.o-gallery__item__content img {
  display: block;
  width: 100%; }

.o-gallery__control {
  font-family: "ft-icons";
  display: inline-block;
  vertical-align: middle;
  font-weight: normal !important;
  font-style: normal !important;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333333;
  background-color: rgba(51, 51, 51, 0.8);
  position: absolute;
  top: 50%;
  margin-top: -55px;
  width: 50px;
  height: 110px;
  font-size: 60px;
  line-height: 110px;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  visibility: hidden;
  z-index: 5; }
  .o-hoverable-on .o-gallery__control:hover {
    color: #b0b0b0; }
  .o-gallery__control[aria-hidden='false'] {
    visibility: visible; }
  .o-gallery__control--prev {
    left: 0; }
  .o-gallery__control--next {
    right: 0; }
