@import "o-assets/main";
@import "o-colors/main";
@import "o-ft-icons/main";

@import "src/scss/_variables";
@import "src/scss/_functions";
@import "src/scss/_mixins";

@if (not $o-gallery-is-silent) {
  @include oFtIconsFontFace();
}

@import "src/scss/gallery";