<div class="o-gallery o-gallery--slideshow" data-o-component="o-gallery" data-o-version="{{{o-gallery.version}}}" data-o-gallery-syncid="declarative-slideshow-with-thumbnails" data-o-gallery-captionminheight="30" data-o-gallery-captionmaxheight="50">
    <h1 class="o-gallery__title">{{{o-gallery.title}}}</h1>
    <ol class="o-gallery__items">
        <li class="o-gallery__item" aria-selected="true">
            <div class="o-gallery__item__content">{{{o-gallery.content}}}</div>
            <div class="o-gallery__item__caption">{{{o-gallery.caption}}}</div>
        </li>
    </ol>
</div>
<div class="o-gallery o-gallery--thumbnails" data-o-component="o-gallery" data-o-version="{{{o-gallery.version}}}" data-o-gallery-syncid="declarative-slideshow-with-thumbnails" data-o-gallery-multipleitemsperpage="true">
    <ol class="o-gallery__items">
        <li class="o-gallery__item" aria-selected="true">
            <div class="o-gallery__item__content">{{{o-gallery.content}}}</div>
        </li>
    </ol>
</div>
