$o-assets-global-path: '../bower_components/';
$o-grid-is-silent: false;

@import "o-colors/main";
@import "o-grid/main";

@import "../main";

body {
  margin: 0 0 100px 0;
  background-color: oColorsGetColorFor(page-background);
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.demo__slideshow {
  width: 100%;
  min-height: 400px;
  overflow: hidden;
}

%demo__gallery__item {
  display: block;
  border: 1px solid _oColorsGetPaletteColor(warm-grey2);
  width: 100%;
  font-family: Arial, Helvetica;
  text-align: center;
  overflow: hidden;
  color: _oColorsGetPaletteColor(warm-grey2);
  background-color: _oColorsGetPaletteColor(cool-grey2);
}

.demo__gallery__item--slideshow {
  @extend %demo__gallery__item;
  width: 100%;
  height: 398px;
  font-size: 24px;
  line-height: 400px;
}

.demo__gallery__item--thumbnail {
  @extend %demo__gallery__item;
  width: 148px;
  height: 108px;
  font-size: 16px;
  line-height: 110px;
}

.o-gallery__item--selected .demo__gallery__item--slideshow,
.o-gallery__item--selected .demo__gallery__item--thumbnail, {
  font-weight: bold;
  color: _oColorsGetPaletteColor(orange);
}

.o-gallery__item__caption {
}

.demo__slideshow__poster {
  display: block;
  width: 100%;
  font-family: Arial, Helvetica;
  font-size: 24px;
  text-align: center;
  overflow: hidden;
  color: _oColorsGetPaletteColor(dark-grey);
  background-color: _oColorsGetPaletteColor(cool-grey1);
  height: 400px;
  line-height: 400px;
}

.demo__thumbnails {
  width: 100%;
  height: 110px;
}

.no-js .demo__thumbnails {
  display: none;
}

.demo__thumbnails .o-gallery__viewport {
  margin: 0 50px;
}

.demo__slideshow + .o-ft-typography-heading-medium {
  margin-top: 50px;
}