%o-gallery--slideshow {
	width: 100%;
	overflow: hidden;
	.o-gallery__title {
		margin: 0;
		padding: 10px;
		font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		color: oColorsGetColorFor(overlay, text);
		@include oGalleryOverlayBackground();
	}
	.o-gallery__item__caption {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		box-sizing: border-box;
		padding: 5px 10px;
		font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: oColorsGetColorFor(overlay, text);
		background-color: oColorsGetColorFor(overlay, background);
	}
}
