////
/// @group o-gallery
/// @link http://registry.origami.ft.com/components/o-gallery
////

/// Styling for the slideshow gallery theme
@mixin _oGallerySlideshow {
	width: 100%;
	overflow: hidden;
	.o-gallery__title {
		@include _oGalleryOverlayBackground();
		margin: 0;
		padding: 10px;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		color: $_o-gallery-overlay-text;
	}
	.o-gallery__item__caption {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		box-sizing: border-box;
		padding: 5px 10px;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: $_o-gallery-overlay-text;
		background-color: $_o-gallery-overlay-background;
	}
}
