<div class="o-gallery o-gallery--slideshow" data-o-component="o-gallery" data-o-gallery-syncid="declarative-slideshow-with-thumbnails" data-o-gallery-captionminheight="30" data-o-gallery-captionmaxheight="50">
	<h1 class="o-gallery__title">Ukraine: diplomacy and tension</h1>
	<ol class="o-gallery__items">
		{{#slideshowData}}
			<li class="o-gallery__item"{{#selected}} aria-selected="true"{{/selected}}>
				<div class="o-gallery__item__content">{{{content}}}</div>
				<div class="o-gallery__item__caption">{{{caption}}}</div>
			</li>
		{{/slideshowData}}
	</ol>
</div>
<div class="o-gallery o-gallery--thumbnails" data-o-component="o-gallery" data-o-gallery-syncid="declarative-slideshow-with-thumbnails" data-o-gallery-multipleitemsperpage="true">
	<ol class="o-gallery__items">
		{{#thumbnailData}}
			<li class="o-gallery__item"{{#selected}} aria-selected="true"{{/selected}}>
				<div class="o-gallery__item__content">{{{content}}}</div>
			</li>
		{{/thumbnailData}}
	</ol>
</div>
