$o-gallery-is-silent: false;
@import "../../main";

.demo__container {
  width: 50%;
  min-width: 400px;
}

[data-o-gallery-multipleitemsperpage="true"] {
  .o-gallery__item__content {
    margin: 5px 10px;
    width: 114px;
    height: 64px;
  }
}

.demo__slideshow__poster {
  display: block;
  width: 100%;
  font-family: Arial, Helvetica;
  font-size: 24px;
  text-align: center;
  overflow: hidden;
  color: _oColorsGetPaletteColor(grey-tint4);
  background-color: _oColorsGetPaletteColor(grey-tint3);
  height: 400px;
  line-height: 400px;
}
