<script>
    (function(d){
        var h = d.getElementsByTagName("html")[0];
        h.className = "js csstransforms csstransforms3d csstransitions fontface boxsizing";
    }(document));
</script>

<div class="demo__container">
    <div class="o-gallery--slideshow" id="imperative-slideshow">
        <div class="demo__slideshow__poster">Default (no-js) content</div>
    </div>
    <div class="o-gallery--thumbnails" id="imperative-thumbnails"></div>
</div>

<script>
var slideshowData = [
{{#slideshowData}}
    {
        "content": '{{{content}}}',
        "caption": '{{{caption}}}'
        {{#selected}}, "selected": true{{/selected}}
    },
{{/slideshowData}}
];

var slideshowGalleryConfig = {
    title: 'Ukraine: diplomacy and tension',
    items: slideshowData,
    captionMinHeight: 30,
    captionMaxHeight: 60
};

var thumbnailData = [
    {{#thumbnailData}}
        {
            "content": '{{{content}}}'
            {{#selected}}, "selected": true{{/selected}}
        },
    {{/thumbnailData}}
];

var thumbnailGalleryConfig = {
    items: thumbnailData,
    multipleItemsPerPage: true,
    captions: false
};
</script>