body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

/**
 * Colour palette
 *
 * These are the colours that make up the FT palette.  We don't use these colours directly, but instead assign them to 'use cases', which are defined in use-cases.scss.  In the list below, each line contains a color name and a colour code, and is finished with a comma:
 *
 *  <colorname>   <colour code>,
 *
 * The colour name must be a single word comprising just letters, numbers, and dashes.  You can have as many spaces between the colour name and the colour code as you like (so you can line them up neatly), and you *MUST* finish the line with a comma (except the final entry, which should not have a comma)
 */
/**
 * Colour use cases
 *
 * These mappings define what we use our colours for.
 *
 * Use case:           Must be a single word comprising just letters, numbers, and dashes.
 * Color name:         Must be an exact match for a name of a colour defined in palette.scss
 * CSS class property: Should be 'text', 'border', 'background', or 'all'.
 * Status:             Must be 'DEPRECATED' or absent
 *
 * You can have as many spaces between each entry as you like (so you can line them up neatly), and you *MUST* finish each line with a comma (except the final entry, which should not have a comma).
 *
 *
 *  <use case>                        <colorname>            <cssclassproperty>   [<status>]
 */
.o-gallery__control--prev:before, .o-gallery__control--next:before {
  content: "\e004"; }

/**
  Wrap styles in SASS placeholders and CSS classes (if not in silent mode),
  and optionally CSS selectors (if not in silent mode)
  $names:         SASS list of placeholder/class names in the format "name1 name2" but without the quotes.
                  Will automatically by prefixed with module name.
  $cssSelectors:  [optional] string. CSS selectors which should also receive the same styles.
                  Does not get auto-prefixed, so must be exactly as you want output on the CSS.
*/
@font-face {
  font-family: "ft-icons";
  src: url(../bower_components/o-ft-icons/build/ft-icons.eot);
  src: url(../bower_components/o-ft-icons/build/ft-icons.eot?#iefix) format("embedded-opentype"), url(../bower_components/o-ft-icons/build/ft-icons.woff) format("woff"), url(../bower_components/o-ft-icons/build/ft-icons.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

.o-gallery {
  position: static;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */ }
  .o-gallery.o-gallery--js {
    position: relative; }

.o-gallery__viewport {
  position: relative;
  overflow: hidden; }
  .o-gallery[data-o-gallery-multipleitemsperpage=true] .o-gallery__viewport {
    margin: 0 50px; }

.o-gallery__items {
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .o-gallery--js .o-gallery__items {
    float: left;
    clear: none; }

.o-gallery__item {
  float: none;
  clear: both;
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none; }
  .o-gallery--js .o-gallery__item {
    float: left;
    clear: none;
    margin: 0; }

.o-gallery__item__caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: white;
  background-color: #333333; }

.o-gallery__control {
  position: absolute;
  top: 50%;
  margin-top: -55px;
  width: 50px;
  height: 110px;
  font-size: 60px;
  line-height: 110px;
  text-align: center;
  color: #dfded8;
  background-color: #333333;
  background-color: rgba(51, 51, 51, 0.8);
  overflow: hidden;
  cursor: pointer;
  font-family: "ft-icons";
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .o-gallery__control:hover {
    color: white; }

.o-gallery__control--prev {
  left: 0; }

.o-gallery__control--next {
  right: 0; }

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.o-gallery__item__content img {
  display: block;
  width: 100%; }

.demo__container {
  width: 50%; }

.demo__slideshow {
  width: 100%;
  overflow: hidden; }

.demo__gallery__item--thumbnail {
  display: block;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: #dfded8; }

.demo__thumbnails {
  display: none;
  width: 100%;
  height: 74px;
  overflow: hidden; }

.demo__slideshow + .demo__thumbnails {
  margin-top: -4px; }

.demo__thumbnails.o-gallery--js {
  display: block; }

.demo__thumbnails .o-gallery__item__content {
  padding: 5px 10px;
  width: 114px;
  height: 64px;
  background-color: #a7a59b; }

.demo__gallery__item--thumbnail {
  background-color: #000; }

.o-gallery__item--selected .demo__gallery__item--thumbnail {
  outline: 1px solid #fff; }

.o-gallery__item--selected .demo__gallery__item--thumbnail img {
  opacity: 0.5; }

.demo__slideshow__poster {
  display: block;
  width: 100%;
  font-family: Arial, Helvetica;
  font-size: 24px;
  text-align: center;
  overflow: hidden;
  color: #505050;
  background-color: #777777;
  height: 400px;
  line-height: 400px; }
