body {
  margin: 0;
  padding: 0; }

/* 
	Note: The identically named mixins and functions below is not a mistake; it means they can be used to either 
	output a string or to wrap some style rules in a selector
*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

.o-grid-row, .o-grid-box, .o-grid-page {
  margin: 0 auto; }

.o-grid-row {
  clear: both;
  width: 100%; }

.o-grid-row:after {
  content: '';
  display: block;
  clear: both; }

.o-grid-row, .o-grid-page {
  max-width: 600px;
  min-width: 240px; }

.o-grid-row .o-grid-row, .o-grid-box .o-grid-row {
  margin-left: -1%;
  margin-right: -1%;
  width: auto;
  max-width: none;
  min-width: 0; }

[data-o-grid-colspan] {
  float: left;
  padding-left: 1%;
  padding-right: 1%; }

[data-o-grid-colspan~="hide"], [data-o-grid-colspan~="0"] {
  display: none; }

[data-o-grid-colspan~="1"] {
  width: 6.33333%; }

[data-o-grid-colspan~="2"] {
  width: 14.66667%; }

[data-o-grid-colspan~="3"] {
  width: 23%; }

[data-o-grid-colspan~="4"] {
  width: 31.33333%; }

[data-o-grid-colspan~="5"] {
  width: 39.66667%; }

[data-o-grid-colspan~="6"] {
  width: 48%; }

[data-o-grid-colspan~="7"] {
  width: 56.33333%; }

[data-o-grid-colspan~="8"] {
  width: 64.66667%; }

[data-o-grid-colspan~="9"] {
  width: 73%; }

[data-o-grid-colspan~="10"] {
  width: 81.33333%; }

[data-o-grid-colspan~="11"] {
  width: 89.66667%; }

[data-o-grid-colspan~="12"] {
  float: none;
  clear: both;
  display: block;
  width: 98%; }

[data-o-grid-colspan~="Shide"], [data-o-grid-colspan~="S0"] {
  display: none; }

[data-o-grid-colspan~="S1"] {
  width: 6.33333%; }

[data-o-grid-colspan~="S2"] {
  width: 14.66667%; }

[data-o-grid-colspan~="S3"] {
  width: 23%; }

[data-o-grid-colspan~="S4"] {
  width: 31.33333%; }

[data-o-grid-colspan~="S5"] {
  width: 39.66667%; }

[data-o-grid-colspan~="S6"] {
  width: 48%; }

[data-o-grid-colspan~="S7"] {
  width: 56.33333%; }

[data-o-grid-colspan~="S8"] {
  width: 64.66667%; }

[data-o-grid-colspan~="S9"] {
  width: 73%; }

[data-o-grid-colspan~="S10"] {
  width: 81.33333%; }

[data-o-grid-colspan~="S11"] {
  width: 89.66667%; }

[data-o-grid-colspan~="S12"] {
  float: none;
  clear: both;
  display: block;
  width: 98%; }

/* Override fixed defaults for responsive grid */
@media screen {
  .o-grid-row .o-grid-row, .o-grid-box .o-grid-row {
    margin-left: -10px;
    margin-right: -10px;
    width: auto; }

  [data-o-grid-colspan] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .o-grid-row-compact > [data-o-grid-colspan] {
    padding-left: 0;
    padding-right: 0; }

  .o-grid-row.o-grid-row-compact,
  .o-grid-row .o-grid-row.o-grid-row-compact {
    margin-left: 0;
    margin-right: 0; }

  [data-o-grid-colspan~="S0"], [data-o-grid-colspan~="Shide"] {
    display: block; }

  [data-o-grid-colspan~="S12"] {
    clear: none; }

  [data-o-grid-colspan~="S0"], [data-o-grid-colspan~="S1"], [data-o-grid-colspan~="S2"], [data-o-grid-colspan~="S3"], [data-o-grid-colspan~="S4"], [data-o-grid-colspan~="S5"], [data-o-grid-colspan~="S6"], [data-o-grid-colspan~="S7"], [data-o-grid-colspan~="S8"], [data-o-grid-colspan~="S9"], [data-o-grid-colspan~="S10"], [data-o-grid-colspan~="S11"], [data-o-grid-colspan~="S12"] {
    width: auto; } }
@media screen {
  .o-grid-row, .o-grid-page {
    max-width: none; }

  [data-o-grid-colspan~="hide"], [data-o-grid-colspan~="0"] {
    display: none; }

  [data-o-grid-colspan~="1"] {
    width: 8.33333%; }

  [data-o-grid-colspan~="2"] {
    width: 16.66667%; }

  [data-o-grid-colspan~="3"] {
    width: 25%; }

  [data-o-grid-colspan~="4"] {
    width: 33.33333%; }

  [data-o-grid-colspan~="5"] {
    width: 41.66667%; }

  [data-o-grid-colspan~="6"] {
    width: 50%; }

  [data-o-grid-colspan~="7"] {
    width: 58.33333%; }

  [data-o-grid-colspan~="8"] {
    width: 66.66667%; }

  [data-o-grid-colspan~="9"] {
    width: 75%; }

  [data-o-grid-colspan~="10"] {
    width: 83.33333%; }

  [data-o-grid-colspan~="11"] {
    width: 91.66667%; }

  [data-o-grid-colspan~="12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%; } }
@media screen and (max-width: 600px) {
  .o-grid-row, .o-grid-page {
    max-width: none; }

  [data-o-grid-colspan~="Shide"], [data-o-grid-colspan~="S0"] {
    display: none; }

  [data-o-grid-colspan~="S1"] {
    width: 8.33333%; }

  [data-o-grid-colspan~="S2"] {
    width: 16.66667%; }

  [data-o-grid-colspan~="S3"] {
    width: 25%; }

  [data-o-grid-colspan~="S4"] {
    width: 33.33333%; }

  [data-o-grid-colspan~="S5"] {
    width: 41.66667%; }

  [data-o-grid-colspan~="S6"] {
    width: 50%; }

  [data-o-grid-colspan~="S7"] {
    width: 58.33333%; }

  [data-o-grid-colspan~="S8"] {
    width: 66.66667%; }

  [data-o-grid-colspan~="S9"] {
    width: 75%; }

  [data-o-grid-colspan~="S10"] {
    width: 83.33333%; }

  [data-o-grid-colspan~="S11"] {
    width: 91.66667%; }

  /* ensures d12 and d0 can be over-ridden by styles for S layout */
  [data-o-grid-colspan~="S1"], [data-o-grid-colspan~="S2"], [data-o-grid-colspan~="S3"], [data-o-grid-colspan~="S4"], [data-o-grid-colspan~="S5"], [data-o-grid-colspan~="S6"], [data-o-grid-colspan~="S7"], [data-o-grid-colspan~="S8"], [data-o-grid-colspan~="S9"], [data-o-grid-colspan~="S10"], [data-o-grid-colspan~="S11"] {
    float: left;
    clear: none;
    display: block; }

  [data-o-grid-colspan~="S12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%; } }
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .o-grid-row, .o-grid-page {
    max-width: none; }

  [data-o-grid-colspan~="Mhide"], [data-o-grid-colspan~="M0"] {
    display: none; }

  [data-o-grid-colspan~="M1"] {
    width: 8.33333%; }

  [data-o-grid-colspan~="M2"] {
    width: 16.66667%; }

  [data-o-grid-colspan~="M3"] {
    width: 25%; }

  [data-o-grid-colspan~="M4"] {
    width: 33.33333%; }

  [data-o-grid-colspan~="M5"] {
    width: 41.66667%; }

  [data-o-grid-colspan~="M6"] {
    width: 50%; }

  [data-o-grid-colspan~="M7"] {
    width: 58.33333%; }

  [data-o-grid-colspan~="M8"] {
    width: 66.66667%; }

  [data-o-grid-colspan~="M9"] {
    width: 75%; }

  [data-o-grid-colspan~="M10"] {
    width: 83.33333%; }

  [data-o-grid-colspan~="M11"] {
    width: 91.66667%; }

  /* ensures d12 and d0 can be over-ridden by styles for M layout */
  [data-o-grid-colspan~="M1"], [data-o-grid-colspan~="M2"], [data-o-grid-colspan~="M3"], [data-o-grid-colspan~="M4"], [data-o-grid-colspan~="M5"], [data-o-grid-colspan~="M6"], [data-o-grid-colspan~="M7"], [data-o-grid-colspan~="M8"], [data-o-grid-colspan~="M9"], [data-o-grid-colspan~="M10"], [data-o-grid-colspan~="M11"] {
    float: left;
    clear: none;
    display: block; }

  [data-o-grid-colspan~="M12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%; } }
@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .o-grid-row, .o-grid-page {
    max-width: none; }

  [data-o-grid-colspan~="Lhide"], [data-o-grid-colspan~="L0"] {
    display: none; }

  [data-o-grid-colspan~="L1"] {
    width: 8.33333%; }

  [data-o-grid-colspan~="L2"] {
    width: 16.66667%; }

  [data-o-grid-colspan~="L3"] {
    width: 25%; }

  [data-o-grid-colspan~="L4"] {
    width: 33.33333%; }

  [data-o-grid-colspan~="L5"] {
    width: 41.66667%; }

  [data-o-grid-colspan~="L6"] {
    width: 50%; }

  [data-o-grid-colspan~="L7"] {
    width: 58.33333%; }

  [data-o-grid-colspan~="L8"] {
    width: 66.66667%; }

  [data-o-grid-colspan~="L9"] {
    width: 75%; }

  [data-o-grid-colspan~="L10"] {
    width: 83.33333%; }

  [data-o-grid-colspan~="L11"] {
    width: 91.66667%; }

  /* ensures d12 and d0 can be over-ridden by styles for L layout */
  [data-o-grid-colspan~="L1"], [data-o-grid-colspan~="L2"], [data-o-grid-colspan~="L3"], [data-o-grid-colspan~="L4"], [data-o-grid-colspan~="L5"], [data-o-grid-colspan~="L6"], [data-o-grid-colspan~="L7"], [data-o-grid-colspan~="L8"], [data-o-grid-colspan~="L9"], [data-o-grid-colspan~="L10"], [data-o-grid-colspan~="L11"] {
    float: left;
    clear: none;
    display: block; }

  [data-o-grid-colspan~="L12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%; } }
@media screen and (min-width: 1401px) {
  .o-grid-row, .o-grid-page {
    max-width: 1360px; }

  [data-o-grid-colspan~="XLhide"], [data-o-grid-colspan~="XL0"] {
    display: none; }

  [data-o-grid-colspan~="XL1"] {
    width: 8.33333%; }

  [data-o-grid-colspan~="XL2"] {
    width: 16.66667%; }

  [data-o-grid-colspan~="XL3"] {
    width: 25%; }

  [data-o-grid-colspan~="XL4"] {
    width: 33.33333%; }

  [data-o-grid-colspan~="XL5"] {
    width: 41.66667%; }

  [data-o-grid-colspan~="XL6"] {
    width: 50%; }

  [data-o-grid-colspan~="XL7"] {
    width: 58.33333%; }

  [data-o-grid-colspan~="XL8"] {
    width: 66.66667%; }

  [data-o-grid-colspan~="XL9"] {
    width: 75%; }

  [data-o-grid-colspan~="XL10"] {
    width: 83.33333%; }

  [data-o-grid-colspan~="XL11"] {
    width: 91.66667%; }

  /* ensures d12 and d0 can be over-ridden by styles for XL layout */
  [data-o-grid-colspan~="XL1"], [data-o-grid-colspan~="XL2"], [data-o-grid-colspan~="XL3"], [data-o-grid-colspan~="XL4"], [data-o-grid-colspan~="XL5"], [data-o-grid-colspan~="XL6"], [data-o-grid-colspan~="XL7"], [data-o-grid-colspan~="XL8"], [data-o-grid-colspan~="XL9"], [data-o-grid-colspan~="XL10"], [data-o-grid-colspan~="XL11"] {
    float: left;
    clear: none;
    display: block; }

  [data-o-grid-colspan~="XL12"] {
    float: none;
    clear: both;
    display: block;
    width: 100%; } }
/**
 * Colour palette
 *
 * These are the colours that make up the FT palette.  We don't use these colours directly, but instead assign them to 'use cases', which are defined in use-cases.scss.  In the list below, each line contains a color name and a colour code, and is finished with a comma:
 *
 *  <colorname>   <colour code>,
 *
 * The colour name must be a single word comprising just letters, numbers, and dashes.  You can have as many spaces between the colour name and the colour code as you like (so you can line them up neatly), and you *MUST* finish the line with a comma (except the final entry, which should not have a comma)
 */
/**
 * Colour use cases
 *
 * These mappings define what we use our colours for.
 *
 * Use case:           Must be a single word comprising just letters, numbers, and dashes.
 * Color name:         Must be an exact match for a name of a colour defined in palette.scss
 * CSS class property: Should be 'text', 'border', 'background', or 'all'.
 * Status:             Must be 'DEPRECATED' or absent
 *
 * You can have as many spaces between each entry as you like (so you can line them up neatly), and you *MUST* finish each line with a comma (except the final entry, which should not have a comma).
 *
 *
 *  <use case>                        <colorname>            <cssclassproperty>   [<status>]
 */
/**
  Wrap styles in SASS placeholders and CSS classes (if not in silent mode),
  and optionally CSS selectors (if not in silent mode)
  $names:         SASS list of placeholder/class names in the format "name1 name2" but without the quotes.
                  Will automatically by prefixed with module name.
  $cssSelectors:  [optional] string. CSS selectors which should also receive the same styles.
                  Does not get auto-prefixed, so must be exactly as you want output on the CSS.
*/
.o-gallery {
  position: static;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */ }
  .o-gallery.o-gallery--js {
    position: relative; }

.o-gallery__viewport {
  position: relative;
  overflow: hidden; }

.o-gallery__items {
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .o-gallery--js .o-gallery__items {
    float: left;
    clear: none; }

.o-gallery__item {
  float: none;
  clear: both;
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none; }
  .o-gallery--js .o-gallery__item {
    float: left;
    clear: none;
    margin: 0; }

.o-gallery__item__caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: white;
  background-color: #333333; }

.o-gallery__control {
  position: absolute;
  top: 0;
  width: 50px;
  height: 110px;
  line-height: 100px;
  text-align: center;
  color: #dfded8;
  background-color: #333333;
  background-color: rgba(51, 51, 51, 0.8);
  cursor: pointer; }
  .o-gallery__control:hover {
    color: white; }

.o-gallery__control--prev {
  left: 0; }

.o-gallery__control--next {
  right: 0; }

body {
  margin: 0 0 100px 0;
  background-color: #fff1e0; }

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.demo__slideshow {
  width: 100%;
  min-height: 400px;
  overflow: hidden; }

.demo__gallery__item--slideshow, .demo__gallery__item--thumbnail {
  display: block;
  border: 1px solid #74736c;
  width: 100%;
  font-family: Arial, Helvetica;
  text-align: center;
  overflow: hidden;
  color: #74736c;
  background-color: #dfded8; }

.demo__gallery__item--slideshow {
  width: 100%;
  height: 398px;
  font-size: 24px;
  line-height: 400px; }

.demo__gallery__item--thumbnail {
  width: 148px;
  height: 108px;
  font-size: 16px;
  line-height: 110px; }

.o-gallery__item--selected .demo__gallery__item--slideshow,
.o-gallery__item--selected .demo__gallery__item--thumbnail {
  font-weight: bold;
  color: #d66d06; }

.demo__slideshow__poster {
  display: block;
  width: 100%;
  font-family: Arial, Helvetica;
  font-size: 24px;
  text-align: center;
  overflow: hidden;
  color: #505050;
  background-color: #777777;
  height: 400px;
  line-height: 400px; }

.demo__thumbnails {
  width: 100%;
  height: 110px; }

.no-js .demo__thumbnails {
  display: none; }

.demo__thumbnails .o-gallery__viewport {
  margin: 0 50px; }

.demo__slideshow + .o-ft-typography-heading-medium {
  margin-top: 50px; }
