body {
  margin: 0;
  padding: 0; }

/**
  Wrap styles in SASS placeholders and CSS classes (if not in silent mode),
  and optionally CSS selectors (if not in silent mode)
  $names:         SASS list of placeholder/class names in the format "name1 name2" but without the quotes.
                  Will automatically by prefixed with module name.
  $cssSelectors:  [optional] string. CSS selectors which should also receive the same styles.
                  Does not get auto-prefixed, so must be exactly as you want output on the CSS.
*/
.o-gallery {
  position: static;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */ }
  .o-gallery.o-gallery--js {
    position: relative; }

.o-gallery__viewport {
  position: relative;
  overflow: hidden; }

.o-gallery__items {
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .o-gallery--js .o-gallery__items {
    float: left;
    clear: none; }

.o-gallery__item {
  float: none;
  clear: both;
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none; }
  .o-gallery--js .o-gallery__item {
    float: left;
    clear: none;
    margin: 0; }

.o-gallery__item__caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: _oColorsGetPaletteColor(cool-grey2);
  background-color: _oColorsGetPaletteColor(charcoal); }

.o-gallery__control {
  position: absolute;
  top: 0;
  width: 50px;
  height: 110px;
  line-height: 100px;
  text-align: center;
  color: #000;
  background-color: #bbb;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer; }
  .o-gallery__control:hover {
    color: #666; }

.o-gallery__control--prev {
  left: 0; }

.o-gallery__control--next {
  right: 0; }
