// Get list of placeholders
@function oGalleryGetPrefixedPlaceholders($names) {
  $placeholders: ();
  @each $name in $names {
    $placeholders: append($placeholders, #{'%#{unquote($name)}'}, comma);
  }
  @return $placeholders;
}

// Get list of CSS classes
@function oGalleryGetPrefixedClasses($names) {
  $classes: ();
  @each $name in $names {
    $classes: append($classes, #{'.#{unquote($name)}'}, comma);
  }
  @return $classes;
}
