@mixin oGalleryListReset() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin oGalleryUserSelect($v) {
  -webkit-user-select: $v; /* webkit (safari, chrome) browsers */
  -moz-user-select: $v; /* mozilla browsers */
  -khtml-user-select: $v; /* webkit (konqueror) browsers */
  -ms-user-select: $v; /* IE10+ */
}

/**
  Wrap styles in SASS placeholders and CSS classes (if not in silent mode),
  and optionally CSS selectors (if not in silent mode)
  $names:         SASS list of placeholder/class names in the format "name1 name2" but without the quotes.
                  Will automatically by prefixed with module name.
  $cssSelectors:  [optional] string. CSS selectors which should also receive the same styles.
                  Does not get auto-prefixed, so must be exactly as you want output on the CSS.
*/
@mixin oGallerySelectors($names, $cssSelectors: ()) {
  $selectors: ();
  $selectors: append($selectors, oGalleryGetPrefixedPlaceholders($names));
  @if (not $o-gallery-is-silent) {
    $selectors: append($selectors, oGalleryGetPrefixedClasses($names));
    $selectors: append($selectors, unquote($cssSelectors), comma);
  }
  #{$selectors} {
    @content;
  }
}