@mixin oGallery {
	user-select: none;
	position: relative;
	ol,
	ul,
	li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	img {
		display: block;
		width: 100%;
	}
	&[data-o-gallery-multipleitemsperpage=true] & {
		margin: 0 $_o-gallery-control-width;
	}
}

@mixin oGalleryTitle {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
}

@mixin oGalleryViewport {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

@mixin oGalleryItems {
	margin: 0;
	padding: 0;
	list-style-type: none;
	// Make sure there's no space between images
	[data-o-gallery--js] & {
		white-space: nowrap;
		font-size: 0;
	}
}

@mixin oGalleryItem {
	position: relative;
	margin: 0 0 20px;
	padding: 0;
	list-style-type: none;
	// Align items inline so scroller gets the correct width for the viewport
	[data-o-gallery--js] & {
		margin: 0;
		display: inline-block;
		white-space: normal;
	}
}

@mixin oGalleryItemContent {
	img {
		display: block;
		width: 100%;
	}
}
