%o-gallery {
  @include oGalleryUserSelect(none);
  position: static;
  & ol,
  & ul,
  & li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  img {
    display: block;
    width: 100%;
  }
  &[data-o-gallery--js] {
    position: relative;
  }
  &[data-o-gallery-multipleitemsperpage=true] & {
    margin: 0 $_o-gallery-control-width;
  }
}

%o-gallery__title {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

%o-gallery__viewport {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

%o-gallery__items {
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  list-style-type: none;
  [data-o-gallery--js] & {
    float: left;
    clear: none;
  }
}

%o-gallery__item {
  float: none;
  clear: both;
  position: relative;
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
  [data-o-gallery--js] & {
    float: left;
    clear: none;
    margin: 0;
  }
}

%o-gallery__item__content {
  & img {
    display: block;
    width: 100%;
  }
}
