////
/// @group o-gallery
/// @link http://registry.origami.ft.com/components/o-gallery
////

/// Mixin to be applied to the gallery controls
@mixin _oGalleryControl {
	@include _oGalleryOverlayBackground();
	position: absolute;
	top: 50%;
	margin-top: ($_o-gallery-control-height / 2) * -1;
	width: $_o-gallery-control-width;
	height: $_o-gallery-control-height;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	overflow: hidden;
	cursor: pointer;
	visibility: hidden;
	z-index: 5;

	&[aria-hidden='false'] {
		visibility: visible;
	}

	&--prev {
		@include oIconsContent('arrow-left', $_o-gallery-overlay-text, $size: $_o-gallery-control-width, $include-base-styles: false);
		left: 0;

		// Preload hover icon
		&:before {
			@include oIconsContent('arrow-left', $_o-gallery-overlay-hover-text, $size: $_o-gallery-control-width, $include-base-styles: false);
			content: '';
		}

		&:hover,
		&:focus {
			@include oIconsContent('arrow-left', $_o-gallery-overlay-hover-text, $size: $_o-gallery-control-width, $include-base-styles: false);
		}

		// Reset the hover state for primarily touch based devices, so hover has no visual effect.
		// IE11 does not support `@media (hover)`, which is why the hover state is applied by default.
		@media (hover: none) {
			&:hover {
				@include oIconsContent('arrow-left', $_o-gallery-overlay-text, $size: $_o-gallery-control-width, $include-base-styles: false);
			}
		}
	}

	&--next {
		@include oIconsContent('arrow-right', $_o-gallery-overlay-text, $size: $_o-gallery-control-width, $include-base-styles: false);
		right: 0;

		// Preload hover icon
		&:before {
			@include oIconsContent('arrow-right', $_o-gallery-overlay-hover-text, $size: $_o-gallery-control-width, $include-base-styles: false);
			content: '';
		}

		&:hover,
		&:focus {
			@include oIconsContent('arrow-right', $_o-gallery-overlay-hover-text, $size: $_o-gallery-control-width, $include-base-styles: false);
		}

		// Reset the hover state for primarily touch based devices, so hover has no visual effect.
		// IE11 does not support `@media (hover)`, which is why the hover state is applied by default.
		@media (hover: none) {
			&:hover {
				@include oIconsContent('arrow-right', $_o-gallery-overlay-text, $size: $_o-gallery-control-width, $include-base-styles: false);
			}
		}
	}
}
