@include oGallerySelectors(o-gallery) {
  position: relative;
  @include oGalleryUserSelect(none);
  .no-js & {
    position: static;
  }
}

@include oGallerySelectors(o-gallery__viewport) {
  position: relative;
  overflow: hidden;
}

@include oGallerySelectors(o-gallery__items) {
  float: left;
  @include oGalleryListReset();
}

@include oGallerySelectors(o-gallery__item) {
  float: left;
  clear: none;
  position: relative;
  @include oGalleryListReset();
  .no-js & {
    margin: 0 0 20px 0;
    float: none;
    clear: both;
  }
}

@include oGallerySelectors(o-gallery__item--selected) {
  // Gets implemented in product
}

@include oGallerySelectors(o-gallery__item__caption) {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: _oColorsGetPaletteColor(cool-grey2); // TODO: Add use case to colors module
  background-color: _oColorsGetPaletteColor(charcoal); // TODO: Add use case to colors module
}

@include oGallerySelectors(o-gallery__control) {
  position: absolute;
  top: 0;
  width: 50px;
  height: 110px;
  line-height: 100px;
  text-align: center;
  color: #000;
  background-color: #bbb;
  background-color: rgba(0,0,0, 0.2);
  cursor: pointer;
  &:hover {
    color: #666;
  }

}

@include oGallerySelectors(o-gallery__control--prev) {
  left: 0;
}

@include oGallerySelectors(o-gallery__control--next) {
  right: 0;
}