
@mixin oGalleryListReset() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin user-select($v) {
  -webkit-user-select: $v; /* webkit (safari, chrome) browsers */
  -moz-user-select: $v; /* mozilla browsers */
  -khtml-user-select: $v; /* webkit (konqueror) browsers */
  -ms-user-select: $v; /* IE10+ */
}

.o-gallery {
  position: relative;
  @include user-select(none);
}

.o-gallery__viewport {
  position: relative;
  overflow: hidden;
}

.no-js .o-gallery {
  position: static;
}

.o-gallery__items {
  @include oGalleryListReset();
  float: left;
}

.no-js .o-gallery__items {
}

.o-gallery__item {
  float: left;
  clear: none;
  position: relative;
  @include oGalleryListReset();
}

.no-js .o-gallery__item {
  margin: 0 0 20px 0;
  float: none;
  clear: both;
}

.o-gallery__item--selected {
  // Gets implemented in product
}

.o-gallery__item__caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.o-gallery__control {
  position: absolute;
  top: 0;
  width: 50px;
  height: 110px;
  line-height: 100px;
  text-align: center;
  color: #000;
  background-color: rgba(0,0,0, 0.2);
  cursor: pointer;
}

.o-gallery__control:hover {
  color: #666;
}

.o-gallery__control--prev {
  left: 0;
}

.o-gallery__control--next {
  right: 0;
}