@include oGallerySelectors(o-gallery) {
  position: static;
  @include oGalleryUserSelect(none);
  &[data-o-gallery--js] {
    position: relative;
  }
}

@include oGallerySelectors(o-gallery__title) {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 10px;
  font-family: BentonSans-normal, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  color: oColorsGetColorFor(overlay, text);
  @include oGalleryOverlayBackground();
  z-index: 5;
}

@include oGallerySelectors(o-gallery__viewport) {
  position: relative;
  overflow: hidden;
  z-index: 1;
  .o-gallery[data-o-gallery-multipleitemsperpage=true] & {
    margin: 0 $_o-gallery-control-width;
  }
}

@include oGallerySelectors(o-gallery__items) {
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  list-style-type: none;
  [data-o-gallery--js] & {
    float: left;
    clear: none;
  }
}

@include oGallerySelectors(o-gallery__item) {
  float: none;
  clear: both;
  position: relative;
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
  [data-o-gallery--js] & {
    float: left;
    clear: none;
    margin: 0;
  }
}

@include oGallerySelectors(o-gallery__item__caption) {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: oColorsGetColorFor(overlay, text);
  background-color: oColorsGetColorFor(overlay, background);
}
