@include oGallerySelectors(o-gallery) {
  position: static;
  @include oGalleryUserSelect(none);
  &[data-o-gallery--js] {
    position: relative;
  }
}

@include oGallerySelectors(o-gallery__title) {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 10px;
  font-family: BentonSans-normal, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  color: oColorsGetColorFor(overlay, text);
  @include oGalleryOverlayBackground();
  z-index: 5;
}

@include oGallerySelectors(o-gallery__viewport) {
  position: relative;
  overflow: hidden;
  z-index: 1;
  .o-gallery[data-o-gallery-multipleitemsperpage=true] & {
    margin: 0 $_o-gallery-control-width;
  }
}

@include oGallerySelectors(o-gallery__items) {
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  list-style-type: none;
  [data-o-gallery--js] & {
    float: left;
    clear: none;
  }
}

@include oGallerySelectors(o-gallery__item) {
  float: none;
  clear: both;
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none;
  [data-o-gallery--js] & {
    float: left;
    clear: none;
    margin: 0;
  }
}

@include oGallerySelectors(o-gallery__item--selected) {
  // Implemented by consumer
}

@include oGallerySelectors(o-gallery__item__caption) {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: oColorsGetColorFor(overlay, text);
  background-color: oColorsGetColorFor(overlay, background);
}

@include oGallerySelectors(o-gallery__control) {
  position: absolute;
  top: 50%;
  margin-top: ($_o-gallery-control-height / 2) * -1;
  width: $_o-gallery-control-width;
  height: $_o-gallery-control-height;
  font-size: 60px;
  line-height: $_o-gallery-control-height;
  text-align: center;
  color: oColorsGetColorFor(control, text);
  @include oGalleryOverlayBackground();
  overflow: hidden;
  cursor: pointer;
  &:hover {
    color: oColorsGetColorFor(control-hover, text);
  }
  @include oFtIconsBaseIconStyles();
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  z-index: 5;
}

@include oGallerySelectors(o-gallery__control--show) {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

@include oGallerySelectors(o-gallery__control--prev) {
  left: 0;
  @extend %o-ft-icons-icon--arrow-left;
}

@include oGallerySelectors(o-gallery__control--next) {
  right: 0;
  @extend %o-ft-icons-icon--arrow-right;
}